@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
:root {
  font-family: 'Inika', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);


  /*font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
h1, h2, h3, h4 {
  font-family: 'Orbitron', Arial;
  font-weight: 500;
  font-size: 3em;
}
h2{
  font-size: 4em;
}
h5{
  font-size: 1em;
  font-weight: 400;
}
h4{
  font-size: 2em;
}
p{
  font-family: 'Orbit', sans-serif;
  font-size: 1.5em;
}
a {
  color: var(--light-red);
  text-decoration: inherit;
  font-size: 1.5em;
}
a:hover {
  color: var(--dark-red);
}

body {
  margin: 0;
  padding: 0;
}
/*for linear border*/
.btn_white, .btn_blue {
  border: 4px solid transparent;
  border-radius: 15px;
}
.btn_white{
  color: var(--color);
  /*border problem: button does not respond to border outline (its always on 1px in width) and does not react to border radius at all (button has background-image = linear(blue, white) 1)*/
  /*border-image: linear-gradient(var(--color), var(--color-dark), transparent) 1;*/
  background:
    linear-gradient(var(--background-color)) padding-box,
    linear-gradient(var(--color), transparent) border-box;
}
.btn_blue{
  color: var(--dark-blue);
  /*border-image: linear-gradient(var(--dark-blue), var(--dark-blue), transparent) 1;
  background-clip: padding-box;*/
  background:
    linear-gradient(var(--background-color)) padding-box,
    linear-gradient(var(--dark-blue), transparent) border-box;
}

/*change the cursor if possible*/
.btn{
  background-color: transparent;
  margin-left: 0.7em;
  min-width: 3.7em;
  height: 1em;
  padding: 0.5em 0.5em;
  font-size: 1.7em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button[type="submit"]{
  height: 2em;
}
.btn_round{
  border-radius: 50px;
  min-width: 2.3em;
}
.btn_blue:hover, .btn_white:hover {
  /*border-image: linear-gradient(var(--dark-red), var(--dark-red), transparent) 1;*/
  background:
    linear-gradient(var(--background-color)) padding-box,
    linear-gradient(var(--dark-red), transparent) border-box;
  color: var(--dark-red);
}
button:focus,
button:focus-visible {
  outline: 3px var(--dark-red);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #000000;
    --color-dark: #00000084;
    --background-color: #ffffff;
    --background-pic: url('assets/flashBackground.png');
    --dark-blue: #0084FF; /*#1B4BCD*/ /*0046dd*/
    --light-blue: #2596ff; /*0084FF*/
    --dark-red: #ff0000;
    --light-red: #ff6464;
    --blue-background: #DEEEFF;
    --blue: #9BCBFF;
    --cardBackground: #9bcbff70;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --color-dark: #ffffff84;
    --background-color: #000000;
    --background-pic: url('assets/blue-background.png');
    --dark-blue: #1C5899;/*#0046c8;*/
    --light-blue: #79beff;
    --dark-red: #ba0000; /*ff0000*/
    --light-red: #ff7575;
    --blue-background: #000A15;
    --blue: #00165d;
    --cardBackground: #00145770;

  }
}